main{
    width: 1000px;
    padding-left: 10%;
}

*{
    background-color: rgb(255, 255, 255);
    font-family: Arial;
}

#mainHeader{
    width: 100%;
}

.headername{
    margin-left: 10%;
    font-family: Georgia;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    
}

.items{
    height: 215px;
    padding: 10px;
    width: 280px;
    margin: 20px;
    border-radius: 10px;
    border-style: inset;
}

.CartButtons{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.add {
    height: 30px;
    width: 155px;
    border-radius:10px;

}

.lesson{
    float: left;
    margin-right: 11px;
}

#mainHeader{
    justify-content: space-between;
    height: 81px;
    align-items: center;
}

.checkoutButton{
    height: 15x;
    margin-left:10%;
}

.checkoutinfo{
    padding-left: 2%;
    float: left;
    width: 50%;
}

.orderList{
    float: left;
    width: 50%;
    flex-direction: column;
}

.sorth{
    width: 1000px;
    align-items: right;
    padding-left: 80%;
    justify-content: center;
    height: 0%;
    align-items: center;
    margin-bottom: 5px;
}

